<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{title}}</title>
        <link rel="stylesheet" href="css/style.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
        <div class="main-content">
            {{!-- > refers to the partial header - so it will be shown in 404.hbs too 
            header.hbs from partials folder is linked--}}
            {{>header}}
            <article class="widget">
                <h3 class="text">Bitte gebe hier deine Stadt ein:</h3>
                <form class="weatherLocation"><input placeholder="location..." type = "text"/><button>Seach</button>
                </form>
                    <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
                    <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="windSpeed"></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>
                         <div class="place"></div>    
                        <div class="humidity"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div>
        <script src="js/app.mjs"></script> <!-- absolute path -->
    </body>
</html>