<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Ermöglicht eine reaktionsfähige Webdesign-Anpassung für verschiedene Bildschirmgrößen -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Setzt den Titel der Webseite mit Hilfe von Handlebars-Variablen -->
        <title>{{title}}</title>
        
        <!-- Einbinden der CSS-Datei. Der statische Pfad für das öffentliche Verzeichnis ist bereits in app.js festgelegt -->
        <link rel="stylesheet" href="css/style.css"/> 
    </head>
    <body>
        <div class="main-content">
            <!-- Verweist auf das Partial "header". Dies wird auch in 404.hbs angezeigt.
                 Das header.hbs aus dem Ordner "partials" wird hier eingebunden -->
            {{>header}}
            
            <article class="widget">
                <h3 class="text">Bitte gebe hier deine Stadt ein:</h3>
                
                <!-- Formular, um den Standort für das Wetter zu suchen -->
                <form class="weatherLocation">
                    <input placeholder="location..." type="text"/>
                    <button>Suchen</button>
                </form>
                
                <!-- Anzeige für das Wetter-Symbol -->
                <div class="weatherIcon">
                    <i class="wi wi-day-cloudy"></i>
                </div>
                
                <!-- Container für Wetterinformationen -->
                <div class="weatherInfo">
                    <!-- Anzeige für die Temperatur -->
                    <div class="temperature"><span></span></div>
                    
                    <!-- Anzeige für die Windgeschwindigkeit -->
                    <div class="windSpeed"></div>
                    
                    <div class="description">
                        <!-- Anzeige für die Wetterbedingungen -->
                        <div class="weatherCondition"></div>
                        
                        <!-- Anzeige für den Standort -->
                        <div class="place"></div>    
                        
                        <!-- Anzeige für die Luftfeuchtigkeit -->
                        <div class="humidity"></div>
                    </div>
                </div>
                
                <!-- Anzeige für das Datum -->
                <div class="date"></div>
            </article>
        </div>
        
        <!-- Einbindung des Client-seitigen JavaScripts -->
        <script src="js/app.mjs"></script>
    </body>
</html>
