<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Wetter App</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
     <form>
		<input class = "input" type="text" id="username" placeholder="Username">
		<input class = "input" type="password" id="password" placeholer="Password">
		<button class = "btn" type="button" onclick="getInfo()">Click Me</button>
	</form>

</body>
<script src = "../../src/app.mjs" charset="utf-8"></script>
</html>