@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

body {
  color: #333333;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  height: 200px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr_GFmTm6jEaseDMDx4-L8bNE_4GKcxVdU1g&usqp=CAU');
  background-size: cover;
  margin-top: 16px;
  margin-bottom: 48px;
}

h2 {
  padding-top: 20px;
  text-align: center;
  font-size: 64px;
  margin-bottom: 16px;
  font-family:Arial, Helvetica, sans-serif;
}

.text {
  text-align: center;
  color: gray;
  margin: auto;
  margin-top: 14px;
}

.widget {
  position: relative;
  display: flex;
  height: 300px;
  max-width: 600px;
  margin: auto;
  flex-wrap: wrap;
  cursor: pointer;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherIcon{
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: border-radius;
  border-top-right-radius: border-radius;
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  
  i{
    padding-top: 30px;
  }
}


.weatherLocation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
}

.weatherLocation button {
  background: #bb871f; 
  /*search button für wetter*/
  color: #fff;
  border: 1px solid transparent;
}

.weatherLocation input:focus {
  outline: none;
}

.widget .weatherInfo {
  flex: 0 0 100%;
  height: 60%;
  background: #080705;
  display: flex;
  align-items: center;
  color: white;
}

.widget .weatherInfo .temperature {
  flex: 0 0 30%;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.widget .weatherInfo .description {
  flex: 0 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.widget .weatherInfo .description .weatherCondition {
  font-size: 18px;
  font-weight: 100;
}

.widget .weatherInfo .description .place {
  font-size: 13px;
}

.widget .date {
  flex: 100%;
  height: 40%;
  background: rgb(40, 78, 78);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}

p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}

@media screen and (max-width: 680px) {
  .widget {
    height: auto;
    width: 100%;
    flex-direction: column; /* Um sicherzustellen, dass die Kinder (flex items) untereinander gestapelt werden */
  }
}

  /* Für Geräte mit einer Bildschirmbreite von 600px oder weniger */
@media screen and (max-width: 600px) {
  .widget {
    height: auto;
    width: 100%;
    flex-direction: column; 
  }
}

/* Für Geräte mit einer Bildschirmbreite von 1024px oder weniger */
@media screen and (max-width: 1024px) {
  .widget {
    height: auto;
    width: 100%;
    flex-direction: column; 
  }
}

/* Für Geräte mit einer Bildschirmbreite von 1280px oder mehr */
@media screen and (min-width: 1280px) {
  .widget {
    height: auto;
    width: 100%;
    flex-direction: column; 
}

  h2 {
    font-size: 48px;
  }

  .widget .weatherInfo {
    flex-direction: column;
    align-items: center; /* Zentriert die Elemente horizontal */
  }

  .widget .weatherInfo .temperature {
    flex: 0 0 auto; /* Flexbox-Reset */
    font-size: 28px;
    width: 100%;
    justify-content: center; /* Zentriert den Temperaturtext */
  }

  .widget .weatherInfo .windSpeed {
    flex: 0 0 auto;
    font-size: 28px;
    color: white; /* Oder eine andere Farbe, die zu Ihrem Design passt */
    margin: 0 20px; /* Fügen Sie einen Rand hinzu, um Platz zwischen den Elementen zu lassen */
  }
  

  .widget .weatherInfo .description {
    flex: 0 0 auto; /* Flexbox-Reset */
    width: 100%;
    align-items: center; /* Zentriert die Beschreibungselemente horizontal */
  }
  
  .widget .date {
    width: 100%;
    justify-content: center; /* Zentriert den Datumstext */
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}